.bg-img{
    background:linear-gradient(to bottom, transparent, #fff),
    url('../images/amazon_thumbnail.jpg') no-repeat center center/cover;
    width: 100%;
    /* background-size:contain; */
    height: 660px;;
}